'.text.html':
  'input_group:addon':
    prefix: 'input_group:addon'
    body: '''
      <div class="row">
      			<div class="col-lg-6">
      				<div class="input-group">
      					<span class="input-group-btn">
      						<button class="btn btn-secondary" type="button">Go!</button>
      					</span>
      					<input type="text" class="form-control" placeholder="${1:Search for...}">
      				</div>
      			</div>
      			<div class="col-lg-6">
      				<div class="input-group">
      					<input type="text" class="form-control" placeholder="${1:Search for...}">
      					<span class="input-group-btn">
      						<button class="btn btn-secondary" type="button">Go!</button>
      					</span>
      				</div>
      			</div>
      		</div>$0
    '''