'.text.html':
  'carousel:caption':
    prefix: 'carousel:caption'
    body: '''
      <div class="carousel-item">
      		<img src="${1:...}" alt="${2:...}">
      		<div class="carousel-caption">
      			<h3>${3:...}</h3>
      			<p>${4:...}</p>
      		</div>
      	</div>$0
    '''