'.text.html':
  'form:checkbox:inline':
    prefix: 'form:checkbox:inline'
    body: '''
      <label class="checkbox-inline">
      	<input type="checkbox" id="${1:inlineCheckbox1}" value="${2:option1}"> ${3:1}
      </label>
      <label class="checkbox-inline">
      	<input type="checkbox" id="${1:inlineCheckbox2}" value="${2:option2}"> ${3:2}
      </label>
      <label class="checkbox-inline">
      	<input type="checkbox" id="${1:inlineCheckbox3}" value="${2:option3}"> ${3:3}
      </label>$0
    '''