'.text.html': # Work only with HTML

  # TODO: Add Usage form http://v4-alpha.getbootstrap.com/components/navs/#javascript-behavior

  # Navs
  'Nav - Bootstrap 4':
    'prefix': 'nav'
    'body': """
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Another link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    """

  'Nav inline - Bootstrap 4':
    'prefix': 'navin'
    'body': """
      <nav class="nav">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Another link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
      </nav>
    """

  'Nav tabs - Bootstrap 4':
    'prefix': 'navtb'
    'body': """
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#" class="nav-link active">Active</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Another link</a>
        </li>
        <li class="nav-item disabled">
          <a href="#" class="nav-link">Disabled</a>
        </li>
      </ul>
    """

  'Nav pills - Bootstrap 4':
    'prefix': 'navpl'
    'body': """
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active">Active</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Another link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    """

  'Nav pills stacked - Bootstrap 4':
    'prefix': 'navplsk'
    'body': """
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
          <a href="#" class="nav-link active">Active</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Another link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    """

  'Nav tabs w/ dropdown - Bootstrap 4':
    'prefix': 'navtbdd'
    'body': """
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#" class="nav-link active">Active</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Another link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    """

  'Nav pills w/ dropdown - Bootstrap 4':
    'prefix': 'navpldd'
    'body': """
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active">Active</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Another link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    """
