'.text.html': # Work only with HTML

  # TODO: Add Usage form http://v4-alpha.getbootstrap.com/components/scrollspy/#usage

  # Scrollspy
  'Scrollspy - Bootstrap 4':
    'prefix': 'scr'
    'body': """
      <body data-spy="scroll" data-target="#navbar-example">
        ...
        <div id="navbar-example">
          <ul class="nav nav-tabs" role="tablist">
            ...
          </ul>
        </div>
        ...
      </body>
    """
