'.text.html': # Work only with HTML

  # Navs
  'Nav - Bootstrap 4':
    'prefix': 'nav'
    'body': """
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Another link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    """

  'Nav inline - Bootstrap 4':
    'prefix': 'navin'
    'body': """
      <nav class="nav">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Another link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
      </nav>
    """

  'Nav tabs - Bootstrap 4':
    'prefix': 'navtb'
    'body': """
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#" class="nav-link active">Active</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Another link</a>
        </li>
        <li class="nav-item disabled">
          <a href="#" class="nav-link">Disabled</a>
        </li>
      </ul>
    """

  'Nav pills - Bootstrap 4':
    'prefix': 'navpl'
    'body': """
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active">Active</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Another link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    """

  'Nav - Bootstrap 4':
    'prefix': 'nav'
    'body': """

    """
