'.text.html': # Work only with HTML

  # Pagination
  'Pagination - Bootstrap 4':
    'prefix': 'pag'
    'body': """
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    """

  'Pagination Disabled and active states - Bootstrap 4':
    'prefix': 'pagda'
    'body': """
      <nav>
        <ul class="pagination">
          <li class="disabled">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="active">
            <a href="#">1 <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    """

  'Pagination - Bootstrap 4':
    'prefix': 'pagsz'
    'body': """
      <nav>
        <ul class="pagination pagination-${1:lg|sm}">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    """

  'Pagination pager - Bootstrap 4':
    'prefix': 'pager'
    'body': """
      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
    """

  'Pagination pager aligned - Bootstrap 4':
    'prefix': 'pageral'
    'body': """
      <nav>
        <ul class="pager">
          <li class="pager-prev"><a href="#">Older</a></li>
          <li class="pager-next"><a href="#">Newer</a></li>
        </ul>
      </nav>
    """

  'Pagination pager aligned & disabled - Bootstrap 4':
    'prefix': 'pagerald'
    'body': """
      <nav>
        <ul class="pager">
          <li class="pager-prev disabled"><a href="#">Older</a></li>
          <li class="pager-next"><a href="#">Newer</a></li>
        </ul>
      </nav>
    """
