'.text.html': # Work only with HTML

  # Navs
  'Navs - Bootstrap 4':
    'prefix': 'nav'
    'body': """
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Another link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    """

  'Navs inline - Bootstrap 4':
    'prefix': 'navin'
    'body': """
      <nav class="nav">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Another link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
      </nav>
    """

  'Navs - Bootstrap 4':
    'prefix': 'nav'
    'body': """

    """

  'Navs - Bootstrap 4':
    'prefix': 'nav'
    'body': """

    """

  'Navs - Bootstrap 4':
    'prefix': 'nav'
    'body': """

    """
