'.text.html': # Work only with HTML


  # Figures
  'Figure - Bootstrap 4':
    'prefix': 'fig'
    'body': """
      <figure class="figure">
        <img data-src="$1" class="img-rounded" alt="$2">
        <figcaption class="figure-caption">$3</figcaption>
      </figure>
    """
