'.text.html': # Work only with HTML


  # Images
  'Responsive Image - Bootstrap 4':
    'prefix': 'imgr'
    'body': """
      <img src="$1" class="img-fluid" alt="$2">
    """

  'Image Rounded - Bootstrap 4':
    'prefix': 'imgro'
    'body': """
      <img src="$1" alt="$2" class="img-rounded">
    """

  'Image Circle - Bootstrap 4':
    'prefix': 'imgci'
    'body': """
      <img src="$1" alt="$2" class="img-circle">
    """

  'Image Thumbnail - Bootstrap 4':
    'prefix': 'imgth'
    'body': """
      <img src="$1" alt="$2" class="img-thumbnail">
    """

  'Image Left - Bootstrap 4':
    'prefix': 'imgl'
    'body': """
      <img src="$1" alt="$2" class="img-rounded pull-left">
    """

  'Image Right - Bootstrap 4':
    'prefix': 'imgr'
    'body': """
      <img src="$1" alt="$2" class="img-rounded pull-right">
    """

  'Image Center - Bootstrap 4':
    'prefix': 'imgce'
    'body': """
      <img src="$1" alt="$2" class="img-rounded center-block">
    """
