'.text.html':
  'alert:danger:l':
    prefix: 'alert:danger:l'
    body: '''
      <div class="alert alert-danger" role="alert">
      	${1:<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.}
      </div>$0
    '''