'.text.html':
  'navbar:fixed:top':
    prefix: 'navbar:fixed:top'
    body: '''
      <nav class="navbar navbar-fixed-top navbar-light bg-faded">
                <a class="navbar-brand" href="${1:#}">${2:Fixed top}</a>
              </nav>$0
    '''