'.text.html':
  'navbar:fixed:bottom':
    prefix: 'navbar:fixed:bottom'
    body: '''
      <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
                <a class="navbar-brand" href="${1:#}">${2:Fixed bottom}</a>
              </nav>$0
    '''