'.text.html':
  'alert:warning:l':
    prefix: 'alert:warning:l'
    body: '''
      <div class="alert alert-warning" role="alert">
      	${1:<strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.}
      </div>$0
    '''