'.text.html':
  'navbar:container:out':
    prefix: 'navbar:container:out'
    body: '''
      <div class="container">
                <nav class="navbar navbar-light bg-faded">
                  <a class="navbar-brand" href="${1:#}">${2:Navbar}</a>
                </nav>
              </div>$0
    '''