'.text.html':
  'form:group':
    prefix: 'form:group'
    body: '''
      <form>
      	<fieldset class="form-group">
      		<label for="formGroupExampleInput">Example label</label>
      		<input type="text" class="form-control" id="formGroupExampleInput" placeholder="${10:Example input}">
      	</fieldset>
      	<fieldset class="form-group">
      		<label for="formGroupExampleInput2">Another label</label>
      		<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="${10:Another input}">
      	</fieldset>
      </form>$0
    '''