'.text.html':
  'typography:lead':
    prefix: 'typography:lead'
    body: '''
      <p class="lead">
          ${1:Lorem ipsum dolor sit amet, consectetur adipisicing elit. Integer posuere erat a ante.}
      </p>'$0
    '''