'.text.html, .text.css, .source.js': # Work only with HTML, CSS, JS... Feel free to add some more!
  'editor':
    'completions': [

      # Snippets
      'st-b4'
      'stc-b4'
      'html-b4'
      'cdn-b4'

      'con'
      'conf'
      'row'
      '3col'
      '3colr'
      '2col'
      '2colr'
      '4col'
      '4colr'
      '6col'
      '12col'
      '12colr'
      'col'
      'col-xs'
      'col-sm'
      'col-md'
      'col-lg'
      'col-xl'
      'colcf'
      'colh'
      'colvp'
      'colhp'

      'texm'
      'dih'
      'lead'
      'blo'
      'blor'
      'lisun'
      'lisin'
      'desho'

      'btndd'
      'btndds'
      'btnddlg'
      'btnddsm'
      'btndu'

      'form'
      'formgr'
      'formin'
      'formhl'
      'formgrid'
      'formcb'
      'formcbin'
      'formcbwola'
      'formra'
      'formrain'
      'formrawola'
      'formsc'
      'formscin'
      'formdis'
      'formreo'
      'formiptsz'
      'formsltsz'
      'formcolsz'
      'formht'
      'formval'
      'formctmcb'
      'formctmra'
      'formctmras'
      'formctmsm'
      'formctmfb'
      '  '
      'iptg'
      'iptgsz'
      'iptgadd'
      'iptbtnadd'
      'iptbtnwdd'
      'iptbtnseg'

      'drp'
      'drpbtn'
      'drpagm'
      'drpmh'
      'drpmdv'
      'drpmds'

      'jum'
      'jumf'

      'lab'
      'labex'
      'labco'
      'labpi'

      'alein'
      'alewa'
      'aleda'
      'alesu'
      'alein'
      'alewa'
      'aleda'
      'aledis'

      'car'
      'carct'
      'carctwli'
      'carctwimg'
      'carctt'
      'carsz'
      'carszc'
      'carta'
      'carhf'
      'carhfq'
      'caric'
      'cario'
      'carit'
      'carbgc'
      'cargr'
      'cardk'
      'carcol'
      'cargr'
      'cargr'

      'nav'
      'navin'
      'navtb'
      'navpl'
      'navplsk'
      'navtbdd'
      'navpldd'

      'nvb'
      'nvbc'
      'nvbconout'
      'nvbconin'
      'nvbft'
      'nvbfb'
      'nvbclp'
      'nvbtg'

      'bre'

      'pagda'
      'pagsz'
      'pager'
      'pageral'
      'pagerald'
    ]
