'.text.html, .text.css, .source.js': # Work only with HTML, CSS, JS... Feel free to add some more!
  'editor':
    'completions': [

      # Snippets
      'htmlst'
      'htmlb4'
      'htmlbl'
      'htmlca'
      'htmlco'
      'htmlda'
      'htmlgd'
      'htmljb'
      'htmlnb'
      'htmlnbfx'
      'htmlnbj'
      'htmlnbst'
      'htmlsf'
      'htmlsfn'
      'htmlst'
      'htmlsi'
      'cdnb4'
      'cdncs'
      'cdnjs'

      'con'
      'conf'
      'row'
      'grid'
      '3col'
      '3colr'
      '2col'
      '2colr'
      '4col'
      '4colr'
      '6col'
      '12col'
      '12colr'
      'col'
      'col-xs'
      'col-sm'
      'col-md'
      'col-lg'
      'col-xl'
      'colcf'
      'colh'
      'colvp'
      'colhp'

      'texm'
      'dih'
      'lead'
      'blo'
      'blor'
      'lisun'
      'liscoa'
      'lisin'
      'desho'

      'btndd'
      'btndds'
      'btnddlg'
      'btnddsm'
      'btndu'
      'btngr'
      'btntlb'
      'btngrsi'
      'btndr'
      'btngrvr'

      'form'
      'formgr'
      'formin'
      'formhl'
      'formgrid'
      'formcb'
      'formcbin'
      'formcbwola'
      'formra'
      'formrain'
      'formrawola'
      'formsc'
      'formscin'
      'formdis'
      'formreo'
      'formiptsz'
      'formsltsz'
      'formcolsz'
      'formht'
      'formval'
      'formctmcb'
      'formctmra'
      'formctmras'
      'formctmsm'
      'formctmfb'
      '  '
      'iptg'
      'iptgsz'
      'iptgadd'
      'iptbtnadd'
      'iptbtnwdd'
      'iptbtnseg'

      'drp'
      'drpbtn'
      'drpagm'
      'drpmh'
      'drpmdv'
      'drpmds'

      'jum'
      'jumf'

      'lab'
      'labex'
      'labco'
      'labpi'

      'alein'
      'alewa'
      'aleda'
      'alesu'
      'alein'
      'alewa'
      'aleda'
      'aledis'

      'car'
      'carct'
      'carcta'
      'carctwli'
      'carctwimg'
      'carctt'
      'carsz'
      'carszc'
      'carta'
      'carhf'
      'carhfq'
      'caric'
      'cario'
      'carit'
      'carbgc'
      'cargr'
      'cardk'
      'carcol'
      'cargr'
      'cargr'

      'nav'
      'navin'
      'navtb'
      'navpl'
      'navplsk'
      'navtbdd'
      'navpldd'

      'nvb'
      'nvbc'
      'nvbconout'
      'nvbconin'
      'nvbft'
      'nvbfb'
      'nvbclp'
      'nvbtg'

      'bre'

      'pagda'
      'pagsz'
      'pager'
      'pageral'
      'pagerald'

      'pag'
      'pagda'
      'pagsz'
      'pager'
      'pageral'
      'pagerald'

      'pro'
      'proco'
      'procost'
      'prostan'

      'lis'
      'lisla'
      'lisli'
      'lisbtn'
      'lisdis'
      'lisco'
      'liscoa'
      'liscc'

      'mod'
      'modsz'
      'modgr'
      'modcb'
      'modbtn'

      'scr'

      'too'

      'pop'
      'popdi'

      'coll'
      'colla'

      'caro'
      'caroca'

      'texta'
      'textt'
      'textcol'
      'textbgcol'
      'cloi'
      'cenb'
      'cle'
      'hid'
      'inv'
      'sro'
      'imgre'
      'emb'

      # Classes
      'alert'
      'alert-danger'
      'alert-dismissible'
      'alert-heading'
      'alert-info'
      'alert-link'
      'alert-success'
      'alert-warning'
      'bg-danger'
      'bg-faded'
      'bg-info'
      'bg-inverse'
      'bg-primary'
      'bg-success'
      'bg-warning'
      'blockquote'
      'blockquote-reverse'
      'breadcrumb'
      'btn'
      'btn'
      'btn'
      'btn-block'
      'btn-danger'
      'btn-danger-outline'
      'btn-group'
      'btn-group-vertical'
      'btn-info'
      'btn-info-outline'
      'btn-link'
      'btn-primary'
      'btn-primary-outline'
      'btn-secondary'
      'btn-secondary-outline'
      'btn-success'
      'btn-success-outline'
      'btn-toolbar'
      'btn-warning'
      'btn-warning-outline'
      'c-checkbox'
      'c-indicator'
      'c-input'
      'c-inputs-stacked'
      'c-radio'
      'c-select'
      'c-select-sm'
      'card'
      'card-block'
      'card-blockquote'
      'card-columns'
      'card-danger'
      'card-deck'
      'card-deck-wrapper'
      'card-footer'
      'card-group'
      'card-header'
      'card-img'
      'card-img-bottom'
      'card-img-overlay'
      'card-img-top'
      'card-info'
      'card-inverse'
      'card-link'
      'card-primary'
      'card-subtitle'
      'card-success'
      'card-title'
      'card-warning'
      'carousel'
      'carousel-control'
      'carousel-controlleft'
      'carousel-controlright'
      'carousel-indicators'
      'carousel-inner'
      'center-block'
      'checkbox'
      'checkbox-inline'
      'close'
      'col-lg-1'
      'col-lg-10'
      'col-lg-11'
      'col-lg-12'
      'col-lg-2'
      'col-lg-3'
      'col-lg-4'
      'col-lg-5'
      'col-lg-6'
      'col-lg-7'
      'col-lg-8'
      'col-lg-9'
      'col-lg-offset-0'
      'col-lg-offset-1'
      'col-lg-offset-10'
      'col-lg-offset-11'
      'col-lg-offset-12'
      'col-lg-offset-2'
      'col-lg-offset-3'
      'col-lg-offset-4'
      'col-lg-offset-5'
      'col-lg-offset-6'
      'col-lg-offset-7'
      'col-lg-offset-8'
      'col-lg-offset-9'
      'col-lg-pull-0'
      'col-lg-pull-1'
      'col-lg-pull-10'
      'col-lg-pull-11'
      'col-lg-pull-12'
      'col-lg-pull-2'
      'col-lg-pull-3'
      'col-lg-pull-4'
      'col-lg-pull-5'
      'col-lg-pull-6'
      'col-lg-pull-7'
      'col-lg-pull-8'
      'col-lg-pull-9'
      'col-lg-push-0'
      'col-lg-push-1'
      'col-lg-push-10'
      'col-lg-push-11'
      'col-lg-push-12'
      'col-lg-push-2'
      'col-lg-push-3'
      'col-lg-push-4'
      'col-lg-push-5'
      'col-lg-push-6'
      'col-lg-push-7'
      'col-lg-push-8'
      'col-lg-push-9'
      'col-md-1'
      'col-md-10'
      'col-md-11'
      'col-md-12'
      'col-md-2'
      'col-md-3'
      'col-md-4'
      'col-md-5'
      'col-md-6'
      'col-md-7'
      'col-md-8'
      'col-md-9'
      'col-md-offset-0'
      'col-md-offset-1'
      'col-md-offset-10'
      'col-md-offset-11'
      'col-md-offset-12'
      'col-md-offset-2'
      'col-md-offset-3'
      'col-md-offset-4'
      'col-md-offset-5'
      'col-md-offset-6'
      'col-md-offset-7'
      'col-md-offset-8'
      'col-md-offset-9'
      'col-md-pull-0'
      'col-md-pull-1'
      'col-md-pull-10'
      'col-md-pull-11'
      'col-md-pull-12'
      'col-md-pull-2'
      'col-md-pull-3'
      'col-md-pull-4'
      'col-md-pull-5'
      'col-md-pull-6'
      'col-md-pull-7'
      'col-md-pull-8'
      'col-md-pull-9'
      'col-md-push-0'
      'col-md-push-1'
      'col-md-push-10'
      'col-md-push-11'
      'col-md-push-12'
      'col-md-push-2'
      'col-md-push-3'
      'col-md-push-4'
      'col-md-push-5'
      'col-md-push-6'
      'col-md-push-7'
      'col-md-push-8'
      'col-md-push-9'
      'col-sm-1'
      'col-sm-10'
      'col-sm-11'
      'col-sm-12'
      'col-sm-2'
      'col-sm-3'
      'col-sm-4'
      'col-sm-5'
      'col-sm-6'
      'col-sm-7'
      'col-sm-8'
      'col-sm-9'
      'col-sm-offset-0'
      'col-sm-offset-1'
      'col-sm-offset-10'
      'col-sm-offset-11'
      'col-sm-offset-12'
      'col-sm-offset-2'
      'col-sm-offset-3'
      'col-sm-offset-4'
      'col-sm-offset-5'
      'col-sm-offset-6'
      'col-sm-offset-7'
      'col-sm-offset-8'
      'col-sm-offset-9'
      'col-sm-pull-0'
      'col-sm-pull-1'
      'col-sm-pull-10'
      'col-sm-pull-11'
      'col-sm-pull-12'
      'col-sm-pull-2'
      'col-sm-pull-3'
      'col-sm-pull-4'
      'col-sm-pull-5'
      'col-sm-pull-6'
      'col-sm-pull-7'
      'col-sm-pull-8'
      'col-sm-pull-9'
      'col-sm-push-0'
      'col-sm-push-1'
      'col-sm-push-10'
      'col-sm-push-11'
      'col-sm-push-12'
      'col-sm-push-2'
      'col-sm-push-3'
      'col-sm-push-4'
      'col-sm-push-5'
      'col-sm-push-6'
      'col-sm-push-7'
      'col-sm-push-8'
      'col-sm-push-9'
      'col-xl-1'
      'col-xl-10'
      'col-xl-11'
      'col-xl-12'
      'col-xl-2'
      'col-xl-3'
      'col-xl-4'
      'col-xl-5'
      'col-xl-6'
      'col-xl-7'
      'col-xl-8'
      'col-xl-9'
      'col-xl-offset-0'
      'col-xl-offset-1'
      'col-xl-offset-10'
      'col-xl-offset-11'
      'col-xl-offset-12'
      'col-xl-offset-2'
      'col-xl-offset-3'
      'col-xl-offset-4'
      'col-xl-offset-5'
      'col-xl-offset-6'
      'col-xl-offset-7'
      'col-xl-offset-8'
      'col-xl-offset-9'
      'col-xl-pull-0'
      'col-xl-pull-1'
      'col-xl-pull-10'
      'col-xl-pull-11'
      'col-xl-pull-12'
      'col-xl-pull-2'
      'col-xl-pull-3'
      'col-xl-pull-4'
      'col-xl-pull-5'
      'col-xl-pull-6'
      'col-xl-pull-7'
      'col-xl-pull-8'
      'col-xl-pull-9'
      'col-xl-push-0'
      'col-xl-push-1'
      'col-xl-push-10'
      'col-xl-push-11'
      'col-xl-push-12'
      'col-xl-push-2'
      'col-xl-push-3'
      'col-xl-push-4'
      'col-xl-push-5'
      'col-xl-push-6'
      'col-xl-push-7'
      'col-xl-push-8'
      'col-xl-push-9'
      'col-xs-1'
      'col-xs-10'
      'col-xs-11'
      'col-xs-12'
      'col-xs-2'
      'col-xs-3'
      'col-xs-4'
      'col-xs-5'
      'col-xs-6'
      'col-xs-7'
      'col-xs-8'
      'col-xs-9'
      'col-xs-offset-0'
      'col-xs-offset-1'
      'col-xs-offset-10'
      'col-xs-offset-11'
      'col-xs-offset-12'
      'col-xs-offset-2'
      'col-xs-offset-3'
      'col-xs-offset-4'
      'col-xs-offset-5'
      'col-xs-offset-6'
      'col-xs-offset-7'
      'col-xs-offset-8'
      'col-xs-offset-9'
      'col-xs-pull-0'
      'col-xs-pull-1'
      'col-xs-pull-10'
      'col-xs-pull-11'
      'col-xs-pull-12'
      'col-xs-pull-2'
      'col-xs-pull-3'
      'col-xs-pull-4'
      'col-xs-pull-5'
      'col-xs-pull-6'
      'col-xs-pull-7'
      'col-xs-pull-8'
      'col-xs-pull-9'
      'col-xs-push-0'
      'col-xs-push-1'
      'col-xs-push-10'
      'col-xs-push-11'
      'col-xs-push-12'
      'col-xs-push-2'
      'col-xs-push-3'
      'col-xs-push-4'
      'col-xs-push-5'
      'col-xs-push-6'
      'col-xs-push-7'
      'col-xs-push-8'
      'col-xs-push-9'
      'collapse'
      'collapsing'
      'container'
      'container-fluid'
      'display-1'
      'display-2'
      'display-3'
      'display-4'
      'dl-horizontal'
      'dropdown'
      'dropdown-backdrop'
      'dropdown-divider'
      'dropdown-header'
      'dropdown-item'
      'dropdown-menu'
      'dropdown-menu-left'
      'dropdown-menu-right'
      'embed-responsive'
      'embed-responsive-16by9'
      'embed-responsive-21by9'
      'embed-responsive-4by3'
      'fade'
      'fadein'
      'figure'
      'figure-caption'
      'file'
      'file'
      'file'
      'file-custom'
      'form-control'
      'form-control-error'
      'form-control-label'
      'form-control-range'
      'form-control-static'
      'form-group'
      'form-inline'
      'has-error'
      'has-success'
      'has-warning'
      'hidden-lg-down'
      'hidden-lg-up'
      'hidden-md-down'
      'hidden-md-up'
      'hidden-print'
      'hidden-sm-down'
      'hidden-sm-up'
      'hidden-xl-down'
      'hidden-xl-up'
      'hidden-xs-down'
      'hidden-xs-up'
      'img-circle'
      'img-rounded'
      'img-thumbnail'
      'img-fluid'
      'initialism'
      'input-group'
      'input-group-addon'
      'input-group-btn'
      'input-group-lg'
      'input-group-sm'
      'invisible'
      'jumbotron'
      'jumbotron-fluid'
      'jumbotron-hr'
      'label'
      'label-danger'
      'label-info'
      'label-pill'
      'label-primary'
      'label-success'
      'label-warning'
      'lead'
      'list-group'
      'list-group-flush'
      'list-group-item'
      'list-group-item-heading'
      'list-group-item-state'
      'list-group-item-text'
      'list-inline'
      'list-unstyled'
      'm-a'
      'm-a-0'
      'm-a-lg'
      'm-a-md'
      'm-b'
      'm-b-0'
      'm-b-lg'
      'm-b-md'
      'm-l'
      'm-l-0'
      'm-l-lg'
      'm-l-md'
      'm-r'
      'm-r-0'
      'm-r-lg'
      'm-r-md'
      'm-t'
      'm-t-0'
      'm-t-lg'
      'm-t-md'
      'm-x'
      'm-x-0'
      'm-x-auto'
      'm-x-lg'
      'm-x-md'
      'm-y'
      'm-y-0'
      'm-y-lg'
      'm-y-md'
      'mark'
      'media'
      'media-body'
      'media-bottom'
      'media-heading'
      'media-left'
      'media-list'
      'media-middle'
      'media-object'
      'media-objectimg-thumbnail'
      'media-right'
      'modal'
      'modal-backdrop'
      'modal-body'
      'modal-content'
      'modal-dialog'
      'modal-footer'
      'modal-header'
      'modal-lg'
      'modal-open'
      'modal-scrollbar-measure'
      'modal-sm'
      'modal-title'
      'modalfade'
      'modalin'
      'nav'
      'nav-inline'
      'nav-link'
      'nav-linkdisabled'
      'nav-pills'
      'nav-stacked'
      'nav-tabs'
      'navbar'
      'navbar-brand'
      'navbar-dark'
      'navbar-divider'
      'navbar-fixed-bottom'
      'navbar-fixed-top'
      'navbar-light'
      'navbar-nav'
      'navbar-static-top'
      'navbar-sticky-top'
      'navbar-toggleable-sm'
      'navbar-toggleable-xs'
      'navbar-toggler'
      'p-a'
      'p-a-0'
      'p-a-lg'
      'p-a-md'
      'p-b'
      'p-b-0'
      'p-b-lg'
      'p-b-md'
      'p-l'
      'p-l-0'
      'p-l-lg'
      'p-l-md'
      'p-r'
      'p-r-0'
      'p-r-lg'
      'p-r-md'
      'p-t'
      'p-t-0'
      'p-t-lg'
      'p-t-md'
      'p-x'
      'p-x-0'
      'p-x-lg'
      'p-x-md'
      'p-y'
      'p-y-0'
      'p-y-lg'
      'p-y-md'
      'pager'
      'pager'
      'pagination'
      'popover'
      'popover-arrow'
      'popover-content'
      'popover-title'
      'popoverbs-tether-element-attached-bottom'
      'popoverbs-tether-element-attached-left'
      'popoverbs-tether-element-attached-right'
      'popoverbs-tether-element-attached-top'
      'pos-f-t'
      'pre-scrollable'
      'progress'
      'progress-animated'
      'progress-bar'
      'progress-bar-striped'
      'progress-danger'
      'progress-info'
      'progress-success'
      'progress-warning'
      'pull-left'
      'pull-right'
      'row'
      'small'
      'sr-only'
      'table'
      'table-bordered'
      'table-hover'
      'table-inverse'
      'table-reflow'
      'table-responsive'
      'table-sm'
      'table-striped'
      'text-capitalize'
      'text-center'
      'text-danger'
      'text-hide'
      'text-info'
      'text-justify'
      'text-left'
      'text-lg-center'
      'text-lg-left'
      'text-lg-right'
      'text-lowercase'
      'text-md-center'
      'text-md-left'
      'text-md-right'
      'text-muted'
      'text-nowrap'
      'text-primary'
      'text-right'
      'text-sm-center'
      'text-sm-left'
      'text-sm-right'
      'text-success'
      'text-truncate'
      'text-uppercase'
      'text-warning'
      'text-xl-center'
      'text-xl-left'
      'text-xl-right'
      'text-xs-center'
      'text-xs-left'
      'text-xs-right'
      'thead-default'
      'thead-inverse'
      'tooltip'
      'tooltip-arrow'
      'tooltip-inner'
      'visible-print-block'
      'visible-print-inline'
      'visible-print-inline-block'

    ]
