'.text.html, .text.css, .source.js': # Work only with HTML, CSS, JS... Feel free to add some more!
  'editor':
    'completions': [

      # Snippets
      'st-b4'
      'stc-b4'
      'html-b4'
      'cdn-b4'

      'con'
      'conf'
      'row'
      '3col'
      '3colr'
      '2col'
      '2colr'
      '4col'
      '4colr'
      '6col'
      '12col'
      '12colr'
      'col'
      'col-xs'
      'col-sm'
      'col-md'
      'col-lg'
      'col-xl'
      'colcf'
    ]
